doctype html
html
  head
    title Kaleidomics
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
    script(src='https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js')
    script(src='https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js')
    script(src='https://www.google.com/jsapi')
    script.
      var webserver = "#{webserver}";

    script(type='text/javascript', src='/js/ui.js')
      
  body
    nav#navBar.navbar.navbar-default(role='navigation')
      .container-fluid
        .navbar-header
          a.navbar-brand(href='#') Kaleidomics
        div
          ul.nav.navbar-nav.col-lg-2
          ul.nav.navbar-nav.col-lg-8
            form.navbar-form(role='search', style='width:100%;')
              #globalSearch.form-search
                input#globalSearchAdd(type="checkbox", name="add", text="addA").form-control
                |  Add 
                input#globalSearchForm.form-control(type='search', placeholder='Enter for search', style='width:75%;')
                button#globalSearchButton.btn.btn-primary(style='margin-left:5px;' type='button' onclick='sendList()') Enter
          ul.nav.navbar-nav.col-lg-2
    .container-fluid
      .row
        .col-lg-12
          ul#sectionTab.nav.nav-tabs.nav-justified(style='background-color:#E4E5E0;')
            li.active.text-center
              a(href='#Data', data-toggle='tab', style='font-size:large;')
                .glyphicon.glyphicon-search  Data
            li.text-center
              a(href='#Result', data-toggle='tab', style='font-size:large;')
                .glyphicon.glyphicon-share  Result
            li.text-center
              a(href='#GenomeBrowser', data-toggle='tab', style='font-size:large;')
                .glyphicon.glyphicon-globe  GenomeBrowser
          p
          .container-fluid
            .container-fluid
              .tab-content
                #Data.tab-pane.fade.in.active
                  .row
                    .col-lg-8
                     #listingTag.panel.panel-default(style='overflow:auto;')
                        #listingTag_header.panel-heading(style='height:40px;')
                          strong ListingTag
                        #listingTag_Body.panel-body
                    .col-lg-4
                      #SelectedTag.panel.panel-default(style='overflow:auto;')
                        #SelectedTag_header.panel-heading(style='height:40px;')
                          strong SelectedTag
                        #SelectedTag_Body.panel-body
                          .container-fluid
                            table#SelectedTag_Body_Table.table.table-striped.table-condensed
                              thead
                                tr
                                  th TagName
                              tbody#SelectedTag_Body_TableBody
                #GenomeBrowser.tab-pane.fade
                #Result.tab-pane.fade
                  .row
                    .col-lg-10
                      #sectionResult.panel.panel-default
                        #sectionResult_header.panel-heading(style='height:50px;')
                          .row
                            .col-lg-4
                              ul.list-inline
                                li
                                  #sectionResult_header_instruments.dropdown
                                    button#sectionResult_header_instrumentsButton.btn.btn-default.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown')
                                      | Instruments
                                      span.caret
                                    ul#sectionResult_header_instrumentsMenu.dropdown-menu(role='menu')
                                li
                                  #sectionResult_header_displays.dropdown
                                    button#sectionResult_header_displaysButton.btn.btn-default.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown')
                                      | Displays
                                      span.caret
                                    ul#sectionResult_header_displaysMenu.dropdown-menu(role='menu')
                            .col-lg-6
                            .col-lg-2
                              button#sectionResult_header_switchSection_table.btn.btn-default.btn-sm(data-toggle='tab' style='width:50%;' onclick='switchTableChart(id)') Table
                              button#sectionResult_header_switchSection_chart.btn.btn-default.btn-sm(data-toggle='tab' style='width:50%;' onclick='switchTableChart(id)') Chart
                        #sectionResult_body.panel-body
                          .container-fluid
                            ul#sectionResult_body_Tab.nav.nav-tabs.nav-justified
                            p
                            #sectionResult_body_Content.tab-content(style='overflow:auto;')
                    .col-lg-2
                      #SelectedFile.panel.panel-default
                        #SelectedFile_header.panel-heading(style='height:40px;')
                          strong SelectedColumns
                        #SelectedFile_Body.panel-body(style='overflow:auto;')
